In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\rgarcia\\Documents\\Code'

In [4]:
import brfy

In [5]:
os.chdir('C:\\Users\\rgarcia\\Documents\\Data')

In [6]:
dep_est = pd.read_csv('votacao_candidato.csv')

In [7]:
dep_est_e = dep_est.query('ds_sit_totalizacao == "Eleito"').sort_values(by='qt_votos_nominais', ascending=False)

In [8]:
dep_est_e['nm_candidato'] = dep_est_e.nm_candidato.str.title()

In [28]:
def De_to_de(x):
    prep_dic = {' Do ':' do ', ' Da ':' da ', ' Dos ':' dos ', ' Das ':' das ', ' De ':' de ', ' E ': ' e '}
    for i in prep_dic:
        x = x.replace(i,prep_dic[i])
    return x

In [29]:
De_to_de('Costa E Silva')

'Costa e Silva'

In [15]:
dep_est_e['nm_candidato'] =  dep_est_e.nm_candidato.apply(De_to_de)

In [17]:
dep_est_e[['nm_candidato', 'sg_partido', 'qt_votos_nominais']]

                           nm_candidato sg_partido  qt_votos_nominais
67           Janaina Conceição Paschoal        PSL            2060786
1                  Arthur Moledo do Val        DEM             478280
75              Carlos Alberto Giannasi       PSOL             218705
25  Paulo Adriano Lopes Lucinda Telhada         PP             214445
66     Gildevanio Ilso dos Santos Diniz        PSL             214037
..                                  ...        ...                ...
13                  Ricardo Luis Mellao       NOVO              27150
60              Adalberto Godoy Freitas        PSL              26153
65              Frederico Braun D'Avila        PSL              24470
70    Matheus Coimbra Martins de Aguiar        PSL              24109
72                      Paulo Nishikawa        PSL              23094

[94 rows x 3 columns]

In [25]:
dep_est_e.groupby('sg_partido').nm_candidato.count().reset_index()

       sg_partido  nm_candidato
0          AVANTE             1
1             DEM             7
2             MDB             3
3            NOVO             4
4           PATRI             1
5         PC do B             1
6             PDT             1
7             PHS             1
8            PODE             4
9              PP             4
10            PPS             2
11             PR             6
12            PRB             6
13           PROS             1
14            PSB             8
15            PSD             2
16           PSDB             8
17            PSL            15
18           PSOL             4
19             PT            10
20            PTB             2
21             PV             1
22           REDE             1
23  SOLIDARIEDADE             1