# Movimentação partidária 2018 > 2022

## Preparo

### Origem dos datasets

- 2018: https://cdn.tse.jus.br/estatistica/sead/odsele/consulta_cand/consulta_cand_2018.zip

- 2022: https://cdn.tse.jus.br/estatistica/sead/odsele/consulta_cand/consulta_cand_2022.zip

- Metadados: https://drive.google.com/file/d/1mM1U-2hN-9usXOE4Dyvewk_wWjN-ZMuW/

### Bibliotecas

In [1]:
import pandas as pd

### Carregamento

In [29]:
dataset_2018 = r'C:\Users\rgarcia\Documents\GitHub\eleicoes_2022\consulta_cand_2018_BRASIL.csv'
dataset_2022 = r'C:\Users\rgarcia\Documents\GitHub\eleicoes_2022\consulta_cand_2022_BRASIL.csv'

cand_2018 = pd.read_csv(dataset_2018, sep=';', encoding='ISO-8859-1', decimal=',', low_memory=False)
cand_2022 = pd.read_csv(dataset_2022, sep=';', encoding='ISO-8859-1', decimal=',', low_memory=False)

In [30]:
# No dataset de 2018, PL, e CIDADANIA já tinha registro mas ainda não tinha candidato
# Os partidos ainda estava usando os nomes antigos, então precisa ser atualizado

cand_2018['SG_PARTIDO'] = cand_2018['SG_PARTIDO'].replace('PL', 'PR')
cand_2018['SG_PARTIDO'] = cand_2018['SG_PARTIDO'].replace('CIDADANIA', 'PPS')

In [31]:
filia_2018 = cand_2018[['NM_CANDIDATO','SG_PARTIDO']]

In [32]:
filia_2022 = cand_2022[['NM_CANDIDATO','SG_PARTIDO']]

In [33]:
filia_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29180 entries, 0 to 29179
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NM_CANDIDATO  29180 non-null  object
 1   SG_PARTIDO    29180 non-null  object
dtypes: object(2)
memory usage: 456.1+ KB

In [34]:
filia_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28505 entries, 0 to 28504
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NM_CANDIDATO  28505 non-null  object
 1   SG_PARTIDO    28505 non-null  object
dtypes: object(2)
memory usage: 445.5+ KB

In [35]:
mudancas = filia_2022.merge(filia_2018, how='outer', on='NM_CANDIDATO')

In [36]:
mudancas = mudancas.fillna('(NC)')

In [37]:
mudancas[mudancas.duplicated(keep=False)]

                           NM_CANDIDATO SG_PARTIDO_x SG_PARTIDO_y
37           CARLOS ROBERTO DE CARVALHO         REDE         PODE
38           CARLOS ROBERTO DE CARVALHO         REDE         PODE
319    VIVIANE SOARES DE OLIVEIRA ALVES        UNIÃO         (NC)
320    VIVIANE SOARES DE OLIVEIRA ALVES        UNIÃO         (NC)
374             RAQUEL DE QUEIROZ BESSA    CIDADANIA         (NC)
...                                 ...          ...          ...
49256       RITA DE CASSIA BARBOSA LIMA         (NC)           PT
49963      MANUELA PINTO VIEIRA D AVILA         (NC)      PC do B
49964      MANUELA PINTO VIEIRA D AVILA         (NC)      PC do B
50266             EMERITA MARIA BRANDÃO         (NC)          PTC
50267             EMERITA MARIA BRANDÃO         (NC)          PTC

[592 rows x 3 columns]

In [38]:
mudancas = mudancas.drop_duplicates().reset_index()

In [39]:
mudancas[mudancas.duplicated(subset='NM_CANDIDATO' , keep=False)]

       index               NM_CANDIDATO SG_PARTIDO_x SG_PARTIDO_y
70        71             AMAURI RIBEIRO        UNIÃO          PMN
71        72             AMAURI RIBEIRO        UNIÃO          PRP
284      285       LUIZ CARLOS DE PAULA          MDB          PSL
285      286       LUIZ CARLOS DE PAULA          MDB     PATRIOTA
677      685      JOSE ANTONIO DA SILVA           PT         PRTB
...      ...                        ...          ...          ...
45740  46028        LEONICE DE OLIVEIRA         (NC)         PROS
48225  48517           WELLINGTON SILVA         (NC)         REDE
48226  48518           WELLINGTON SILVA         (NC)         PRTB
48227  48519  EDMILSON JOSÉ DE CARVALHO         (NC)      PC do B
48228  48520  EDMILSON JOSÉ DE CARVALHO         (NC)         REDE

[328 rows x 4 columns]

In [40]:
mudancas = mudancas.drop_duplicates(subset='NM_CANDIDATO', keep=False).reset_index()

In [46]:
mudancas = mudancas[['NM_CANDIDATO', 'SG_PARTIDO_x','SG_PARTIDO_y']]

In [47]:
mudancas.columns = ['Nome', 'E2022', 'E2018']

In [49]:
mudancas = mudancas[['Nome', 'E2018', 'E2022']]

In [81]:
# mudancas = mudancas.drop_duplicates(subset=['CPF'], keep='last')

In [50]:
mudancas

                                  Nome     E2018          E2022
0            WANDERSON MENDES FERREIRA  PATRIOTA          UNIÃO
1         SÔNIA DA SILVA DUTRA CIMARDI      (NC)  SOLIDARIEDADE
2              AILTON SILVA DOS SANTOS       PSB             PV
3                     DEODORO DE SOUZA      (NC)             PP
4             EDMILSON AGUIAR DE SOUZA       PSB            PTB
...                                ...       ...            ...
51987  WILLMAM CAHET MATTOSO MEDEIROS        PPL           (NC)
51988     CELINA CLAUDIA MENEZES LEMES  PATRIOTA           (NC)
51989            JOÃO BARBOSA DA SILVA       PRP           (NC)
51990         RICARDO DA SILVA ALMEIDA       MDB           (NC)
51991             NAEL SANTOS DE MATOS    AVANTE           (NC)

[51992 rows x 3 columns]

In [51]:
mudancas = mudancas.reset_index(drop=True)

In [25]:
HALT!

SyntaxError: invalid syntax (4208741763.py, line 1)

In [52]:
nome_partido = {'PR':'PL',
                'PPS':'CIDADANIA', 
                'PRB':'REPUBLICANOS', 
                # 'DEM':'UNIÃO', 
                'PTC':'AGIR',
                # 'PSL':'UNIÃO',
                'PPL': 'PC do B',
                'PRP':'PATRIOTA',
                'PHS':'PODE'}

In [53]:
mudancas = mudancas.replace(nome_partido)

In [54]:
fluxos = mudancas.groupby(['E2018', 'E2022']).Nome.count().reset_index().sort_values(by='Nome', ascending=False).reset_index(drop=True)

In [87]:
fluxos

        E2018      E2022   CPF
0    PATRIOTA       (NC)  1859
1        PODE       (NC)  1595
2     PC do B       (NC)  1230
3        (NC)         PL  1130
4        (NC)        PTB  1102
..        ...        ...   ...
755      PSOL       PRTB     1
756      PSOL        PSC     1
757       PCB        PSD     1
758       PCB  CIDADANIA     1
759        DC        PSC     1

[760 rows x 3 columns]

In [55]:
fluxos_i = fluxos[(fluxos.E2018 != '(NC)') & (fluxos.E2022 != '(NC)')]

In [56]:
fluxos_i.Nome.sum()

5022

In [93]:
fluxos_i.to_csv('fluxos_partidos_i.csv', index=False)

In [94]:
fluxos_i['Mudou?'] = fluxos_i['E2018'] != fluxos_i['E2022']

C:\Users\rgarcia\AppData\Local\Temp\ipykernel_24404\726548256.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fluxos_i['Mudou?'] = fluxos_i['E2018'] != fluxos_i['E2022']

In [95]:
fluxos_i.groupby(['Mudou?']).CPF.sum()

Mudou?
False    2411
True     3929
Name: CPF, dtype: int64

In [98]:
fluxos_o = fluxos[(fluxos.E2018 == '(NC)') | (fluxos.E2022 == '(NC)')]

In [99]:
fluxos_o.to_csv('candidatos_novos_velhos.csv', index=False)