In [1]:
import os
import pandas as pd

In [2]:
dataset_2022_url = 'https://cdn.tse.jus.br/estatistica/sead/odsele/consulta_cand/consulta_cand_2022.zip'

In [3]:
user_agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/600.1.17\
 (KHTML, like Gecko) Version/8.0 Safari/600.1.17'

In [4]:
os.chdir(r'C:\Users\rgarcia\Documents\data') ; os.getcwd()

'C:\\Users\\rgarcia\\Documents\\data'

In [5]:
os.system(f'wget --header="User-Agent: {user_agent}" {dataset_2022_url}')
os.system('unzip -p consulta_cand_2022.zip consulta_cand_2022_BRASIL.csv > consulta_cand_2022_BRASIL.csv')
os.system(f'del consulta_cand_2022.zip')
os.chdir(r'C:\Users\rgarcia\Documents\code') ; print(os.getcwd())

C:\Users\rgarcia\Documents\code

In [6]:
dataset_2022 = r'C:\Users\rgarcia\Documents\Data\consulta_cand_2022_BRASIL.csv'

In [7]:
df = pd.read_csv(dataset_2022, sep=';', encoding='ISO-8859-1', decimal=',', low_memory=False)

In [8]:
df.columns

Index(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'CD_TIPO_ELEICAO',
       'NM_TIPO_ELEICAO', 'NR_TURNO', 'CD_ELEICAO', 'DS_ELEICAO', 'DT_ELEICAO',
       'TP_ABRANGENCIA', 'SG_UF', 'SG_UE', 'NM_UE', 'CD_CARGO', 'DS_CARGO',
       'SQ_CANDIDATO', 'NR_CANDIDATO', 'NM_CANDIDATO', 'NM_URNA_CANDIDATO',
       'NM_SOCIAL_CANDIDATO', 'NR_CPF_CANDIDATO', 'NM_EMAIL',
       'CD_SITUACAO_CANDIDATURA', 'DS_SITUACAO_CANDIDATURA',
       'CD_DETALHE_SITUACAO_CAND', 'DS_DETALHE_SITUACAO_CAND', 'TP_AGREMIACAO',
       'NR_PARTIDO', 'SG_PARTIDO', 'NM_PARTIDO', 'NR_FEDERACAO',
       'NM_FEDERACAO', 'SG_FEDERACAO', 'DS_COMPOSICAO_FEDERACAO',
       'SQ_COLIGACAO', 'NM_COLIGACAO', 'DS_COMPOSICAO_COLIGACAO',
       'CD_NACIONALIDADE', 'DS_NACIONALIDADE', 'SG_UF_NASCIMENTO',
       'CD_MUNICIPIO_NASCIMENTO', 'NM_MUNICIPIO_NASCIMENTO', 'DT_NASCIMENTO',
       'NR_IDADE_DATA_POSSE', 'NR_TITULO_ELEITORAL_CANDIDATO', 'CD_GENERO',
       'DS_GENERO', 'CD_GRAU_INSTRUCAO', 'DS_GRAU_INSTRUCAO',
       'CD_ESTADO_CIVIL', 'DS_ESTADO_CIVIL', 'CD_COR_RACA', 'DS_COR_RACA',
       'CD_OCUPACAO', 'DS_OCUPACAO', 'VR_DESPESA_MAX_CAMPANHA',
       'CD_SIT_TOT_TURNO', 'DS_SIT_TOT_TURNO', 'ST_REELEICAO',
       'ST_DECLARAR_BENS', 'NR_PROTOCOLO_CANDIDATURA', 'NR_PROCESSO',
       'CD_SITUACAO_CANDIDATO_PLEITO', 'DS_SITUACAO_CANDIDATO_PLEITO',
       'CD_SITUACAO_CANDIDATO_URNA', 'DS_SITUACAO_CANDIDATO_URNA',
       'ST_CANDIDATO_INSERIDO_URNA', 'NM_TIPO_DESTINACAO_VOTOS',
       'CD_SITUACAO_CANDIDATO_TOT', 'DS_SITUACAO_CANDIDATO_TOT',
       'ST_PREST_CONTAS'],
      dtype='object')

In [9]:
cand_cor = df[['DT_GERACAO', 'SQ_CANDIDATO', 'NM_CANDIDATO', 'NM_URNA_CANDIDATO', 'DS_CARGO', 'SG_UF', 'DS_COR_RACA']]

In [10]:
cand_cor_x = df[['DT_GERACAO', 'SQ_CANDIDATO', 'DS_COR_RACA']]

In [11]:
cand_cor_x

       DT_GERACAO  SQ_CANDIDATO DS_COR_RACA
0      26/09/2022  180001608627       PRETA
1      26/09/2022   90001700974      BRANCA
2      26/09/2022  130001595986       PARDA
3      26/09/2022  130001607281       PARDA
4      26/09/2022  190001645397       PRETA
...           ...           ...         ...
29256  26/09/2022  110001620552      BRANCA
29257  26/09/2022   20001653511       PARDA
29258  26/09/2022   50001605325      BRANCA
29259  26/09/2022  120001621514       PARDA
29260  26/09/2022  180001713295       PARDA

[29261 rows x 3 columns]

In [12]:
os.chdir('C:\\Users\\rgarcia\\Documents\\data') ;os.getcwd()

'C:\\Users\\rgarcia\\Documents\\data'

In [13]:
os.listdir()

['candidato_redes_total.csv',
 'cargo.csv',
 'consulta_cand_2018_BRASIL.csv',
 'consulta_cand_2022_BRASIL.csv',
 'consulta_cand_2022_BRASIL_08_19.csv',
 'dep_est_partido.csv',
 'dep_est_uf.csv',
 'dep_fed_partido.csv',
 'dep_fed_uf.csv',
 'historico.csv',
 'muda_cor_candidato.csv',
 'muda_cor_partido.csv',
 'redes_sociais_candidatos.csv',
 'rede_social_candidato_2022_BR.csv']

In [14]:
old = pd.read_csv(r'consulta_cand_2022_BRASIL_08_19.csv', encoding='ISO-8859-1', decimal=',', low_memory=False, sep=';')

In [15]:
old.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,NR_PROCESSO,CD_SITUACAO_CANDIDATO_PLEITO,DS_SITUACAO_CANDIDATO_PLEITO,CD_SITUACAO_CANDIDATO_URNA,DS_SITUACAO_CANDIDATO_URNA,ST_CANDIDATO_INSERIDO_URNA,NM_TIPO_DESTINACAO_VOTOS,CD_SITUACAO_CANDIDATO_TOT,DS_SITUACAO_CANDIDATO_TOT,ST_PREST_CONTAS
0,19/08/2022,07:05:37,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6004986120226040000,-1,#NULO#,-1,#NULO#,NÃO,#NULO#,-1,#NULO#,N
1,19/08/2022,07:05:37,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6015088520226240000,-1,#NULO#,-1,#NULO#,NÃO,#NULO#,-1,#NULO#,N
2,19/08/2022,07:05:37,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6003759020226030000,-1,#NULO#,-1,#NULO#,NÃO,#NULO#,-1,#NULO#,N
3,19/08/2022,07:05:37,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6022459420226130000,-1,#NULO#,-1,#NULO#,NÃO,#NULO#,-1,#NULO#,N
4,19/08/2022,07:05:37,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6006890920226040000,-1,#NULO#,-1,#NULO#,NÃO,#NULO#,-1,#NULO#,N

In [16]:
old_cand_cor = old[['DT_GERACAO', 'SQ_CANDIDATO', 'NM_CANDIDATO', 'NM_URNA_CANDIDATO', 'DS_CARGO', 'SG_UF', 'DS_COR_RACA']]

In [17]:
old_cand_cor_x = old[['DT_GERACAO', 'SQ_CANDIDATO', 'DS_COR_RACA']]

In [18]:
old_cand_cor_x

       DT_GERACAO  SQ_CANDIDATO DS_COR_RACA
0      19/08/2022   40001618479       PRETA
1      19/08/2022  240001647344      BRANCA
2      19/08/2022   30001607352       PARDA
3      19/08/2022  130001615414      BRANCA
4      19/08/2022   40001643217       PARDA
...           ...           ...         ...
28500  19/08/2022  190001601679      BRANCA
28501  19/08/2022  230001602820       PRETA
28502  19/08/2022   90001650886      BRANCA
28503  19/08/2022  250001597685      BRANCA
28504  19/08/2022  140001677382      BRANCA

[28505 rows x 3 columns]

In [19]:
agrega = pd.concat([old_cand_cor_x, cand_cor_x]).reset_index()

In [25]:
cor_espelha = agrega.pivot(index='SQ_CANDIDATO', columns='DT_GERACAO', values='DS_COR_RACA')

In [26]:
cor_espelha.columns[1]

'26/09/2022'

In [27]:
cor_espelha

DT_GERACAO   19/08/2022 26/09/2022
SQ_CANDIDATO
10001595335      BRANCA     BRANCA
10001595336      BRANCA     BRANCA
10001595337       PRETA      PRETA
10001595338      BRANCA     BRANCA
10001595339      BRANCA     BRANCA
...                 ...        ...
280001655453     BRANCA     BRANCA
280001677435     BRANCA     BRANCA
280001677436     BRANCA     BRANCA
280001734029        NaN      PARDA
280001735149        NaN     BRANCA

[29284 rows x 2 columns]

In [28]:
cor_espelha

DT_GERACAO   19/08/2022 26/09/2022
SQ_CANDIDATO
10001595335      BRANCA     BRANCA
10001595336      BRANCA     BRANCA
10001595337       PRETA      PRETA
10001595338      BRANCA     BRANCA
10001595339      BRANCA     BRANCA
...                 ...        ...
280001655453     BRANCA     BRANCA
280001677435     BRANCA     BRANCA
280001677436     BRANCA     BRANCA
280001734029        NaN      PARDA
280001735149        NaN     BRANCA

[29284 rows x 2 columns]

In [29]:
# Inserindo manualmente o nome da coluna

In [30]:
cor_espelha.columns = ['2022-08-19', '2022-09-26']

In [31]:
cor_espelha

             2022-08-19 2022-09-26
SQ_CANDIDATO
10001595335      BRANCA     BRANCA
10001595336      BRANCA     BRANCA
10001595337       PRETA      PRETA
10001595338      BRANCA     BRANCA
10001595339      BRANCA     BRANCA
...                 ...        ...
280001655453     BRANCA     BRANCA
280001677435     BRANCA     BRANCA
280001677436     BRANCA     BRANCA
280001734029        NaN      PARDA
280001735149        NaN     BRANCA

[29284 rows x 2 columns]

In [32]:
cor_espelha = cor_espelha.reset_index().fillna('(NÃO PREENCHIDO)')

In [34]:
muda_cor = cor_espelha[(cor_espelha['2022-08-19'] != cor_espelha['2022-09-26'])].reset_index(drop=True)

In [35]:
muda_cor = muda_cor.merge(df, how='left', on='SQ_CANDIDATO')

In [40]:
muda_cor_filtra = muda_cor[['SQ_CANDIDATO', '2022-08-19', '2022-09-26', 'SG_UF',
       'DS_CARGO', 'NM_CANDIDATO', 'NM_URNA_CANDIDATO', 'SG_PARTIDO']]

In [41]:
muda_cor.head()

,SQ_CANDIDATO,2022-08-19,2022-09-26,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,...,NR_PROCESSO,CD_SITUACAO_CANDIDATO_PLEITO,DS_SITUACAO_CANDIDATO_PLEITO,CD_SITUACAO_CANDIDATO_URNA,DS_SITUACAO_CANDIDATO_URNA,ST_CANDIDATO_INSERIDO_URNA,NM_TIPO_DESTINACAO_VOTOS,CD_SITUACAO_CANDIDATO_TOT,DS_SITUACAO_CANDIDATO_TOT,ST_PREST_CONTAS
0,10001606210,NÃO INFORMADO,BRANCA,26/09/2022,07:06:53,2022.0,2.0,ELEIÇÃO ORDINÁRIA,1.0,546.0,...,6.002923e+18,2.0,DEFERIDO,2.0,DEFERIDO,SIM,Válido,2.0,Deferido,S
1,10001606214,NÃO INFORMADO,PARDA,26/09/2022,07:06:53,2022.0,2.0,ELEIÇÃO ORDINÁRIA,1.0,546.0,...,6.002768e+18,2.0,DEFERIDO,2.0,DEFERIDO,SIM,Válido,2.0,Deferido,S
2,10001606217,NÃO INFORMADO,PARDA,26/09/2022,07:06:53,2022.0,2.0,ELEIÇÃO ORDINÁRIA,1.0,546.0,...,6.002837e+18,2.0,DEFERIDO,2.0,DEFERIDO,SIM,Válido,2.0,Deferido,S
3,10001649255,PARDA,NÃO DIVULGÁVEL,26/09/2022,07:07:51,2022.0,2.0,ELEIÇÃO ORDINÁRIA,1.0,546.0,...,6.005963e+18,-1.0,#NULO#,-1.0,#NULO#,NÃO,#NULO#,-1.0,#NULO#,N
4,10001649257,BRANCA,NÃO DIVULGÁVEL,26/09/2022,07:07:51,2022.0,2.0,ELEIÇÃO ORDINÁRIA,1.0,546.0,...,6.005972e+18,-1.0,#NULO#,-1.0,#NULO#,NÃO,#NULO#,-1.0,#NULO#,N

In [31]:
muda_cor_filtra = muda_cor_filtra[~muda_cor_filtra['2022-08-19'].isin(['(NÃO PREENCHIDO)', 'NÃO INFORMADO'])].reset_index(drop=True)

In [32]:
muda_cor_filtra = muda_cor_filtra[~muda_cor_filtra['NM_CANDIDATO'].isna()]

In [33]:
rank_partido = muda_cor_filtra.groupby(['SG_PARTIDO']).SQ_CANDIDATO.count().reset_index().sort_values(by='SQ_CANDIDATO', ascending=False)

In [34]:
rank_partido.reset_index(drop=True)

       SG_PARTIDO  SQ_CANDIDATO
0             PTB            26
1           UNIÃO            25
2             PSD            25
3             MDB            23
4            PSOL            19
5              PL            19
6              PT            16
7              PV            15
8            PODE            14
9              DC            13
10           PSDB            12
11             PP            12
12            PCO            12
13            PDT            11
14       PATRIOTA            11
15   REPUBLICANOS             9
16         AVANTE             8
17        PC do B             7
18           PROS             7
19  SOLIDARIEDADE             4
20      CIDADANIA             4
21           AGIR             4
22            PMB             4
23            PSB             4
24            PMN             3
25            PSC             2
26           REDE             2
27            PCB             1
28           PRTB             1

In [35]:
os.getcwd()

'C:\\Users\\rgarcia\\Documents\\data'

In [36]:
rank_partido.to_csv('muda_cor_partido.csv', index=False)

In [37]:
muda_cor_filtra.to_csv('muda_cor_candidato.csv', index=False)

In [38]:
muda_cor_filtra['mudanca'] = muda_cor_filtra['2022-08-19'] + ' → ' + muda_cor_filtra['2022-09-15']

In [39]:
# muda_cor_filtra = muda_cor_filtra[muda_cor_filtra['2022-08-19'] != '(NÃO PREENCHIDO)']

In [40]:
change_log = muda_cor_filtra.groupby(['mudanca']).SQ_CANDIDATO.count().reset_index().sort_values(by='SQ_CANDIDATO', ascending=False).reset_index(drop=True)

In [41]:
rank_partido = rank_partido.reset_index(drop=True)

In [42]:
rank_partido.columns = ['Partido', 'Candidatos']

In [43]:
change_log.columns = ['Mudança', 'Candidatos']

In [44]:
print(F'Candidatos que trocaram declaração de cor/raça: {rank_partido.Candidatos.sum()}')
print(rank_partido)

Candidatos que trocaram declaração de cor/raça: 313
          Partido  Candidatos
0             PTB          26
1           UNIÃO          25
2             PSD          25
3             MDB          23
4            PSOL          19
5              PL          19
6              PT          16
7              PV          15
8            PODE          14
9              DC          13
10           PSDB          12
11             PP          12
12            PCO          12
13            PDT          11
14       PATRIOTA          11
15   REPUBLICANOS           9
16         AVANTE           8
17        PC do B           7
18           PROS           7
19  SOLIDARIEDADE           4
20      CIDADANIA           4
21           AGIR           4
22            PMB           4
23            PSB           4
24            PMN           3
25            PSC           2
26           REDE           2
27            PCB           1
28           PRTB           1

In [45]:
print(f'Pedidos de mudança mais comuns: {change_log.Candidatos.sum()}')
print(change_log)

Pedidos de mudança mais comuns: 313
                    Mudança  Candidatos
0            BRANCA → PARDA         139
1            PARDA → BRANCA          91
2             PARDA → PRETA          24
3            BRANCA → PRETA          19
4             PRETA → PARDA          13
5   NÃO DIVULGÁVEL → BRANCA           6
6            PRETA → BRANCA           5
7           AMARELA → PARDA           3
8          PARDA → INDÍGENA           3
9    PARDA → NÃO DIVULGÁVEL           3
10  BRANCA → NÃO DIVULGÁVEL           2
11         INDÍGENA → PARDA           2
12         AMARELA → BRANCA           1
13   NÃO DIVULGÁVEL → PARDA           1
14          PARDA → AMARELA           1

In [65]:
filtra_partido = 'pl'.upper()

filtrado = muda_cor_filtra[muda_cor_filtra.SG_PARTIDO == filtra_partido]\
.groupby(['mudanca'])\
.SQ_CANDIDATO.count()\
.reset_index()\
.sort_values(by='SQ_CANDIDATO', ascending=False)\
.reset_index(drop=True)
filtrado.columns = ['Mudança', 'Candidatos']

print('Partido: ' + filtra_partido)
print(filtrado)

Partido: PL
                   Mudança  Candidatos
0           BRANCA → PARDA           7
1           PARDA → BRANCA           6
2         PARDA → INDÍGENA           2
3            PARDA → PRETA           2
4  BRANCA → NÃO DIVULGÁVEL           1
5            PRETA → PARDA           1

In [114]:
sigla_partido = 'pt'.upper()

painel = df.query(f'SG_PARTIDO == "{sigla_partido}"').groupby('DS_COR_RACA').SQ_CANDIDATO.count().reset_index()
painel['COTA (%)'] = ((painel.SQ_CANDIDATO/df.query(f'SG_PARTIDO == "{sigla_partido}"').shape[0])*100).round(2)

painel2 = old.query(f'SG_PARTIDO == "{sigla_partido}"').groupby('DS_COR_RACA').SQ_CANDIDATO.count().reset_index()
painel2['COTA (%)'] = ((painel2.SQ_CANDIDATO/old.query(f'SG_PARTIDO == "{sigla_partido}"').shape[0])*100).round(2)

print('Partido: ' + sigla_partido + '\n'); print('Cenário em 2022-08-19'.upper())
print(painel.to_string(index=False));print('\n')
print('Cenário em 2022-09-15'.upper());print(painel2.to_string(index=False))

Partido: PT

CENÁRIO EM 2022-08-19
DS_COR_RACA  SQ_CANDIDATO  COTA (%)
    AMARELA             2      0.18
     BRANCA           535     47.85
   INDÍGENA            22      1.97
      PARDA           261     23.35
      PRETA           298     26.65


CENÁRIO EM 2022-09-15
DS_COR_RACA  SQ_CANDIDATO  COTA (%)
    AMARELA             2      0.18
     BRANCA           535     48.37
   INDÍGENA            22      1.99
      PARDA           260     23.51
      PRETA           287     25.95