In [1]:
import os

In [2]:
print(os.getcwd())

C:\Users\rgarcia\Documents\Code

In [3]:
import pandas as pd

In [4]:
from urllib.parse import urlparse

In [5]:
from IPython.display import display, Markdown

PODER 360: [Sobe número de candidatos nas redes sociais; saiba as preferidas](https://www.poder360.com.br/eleicoes/sobe-numero-de-candidatos-nas-redes-sociais-saiba-as-preferidas/)

G1: [Facebook e Instagram são redes mais populares entre candidatos; Twitter, TikTok e Spotify também estão na lista](https://g1.globo.com/politica/eleicoes/2022/eleicao-em-numeros/noticia/2022/08/24/facebook-e-instagram-sao-redes-mais-populares-entre-candidatos-twitter-tiktok-e-spotify-tambem-estao-na-lista.ghtml)

TSE: [RESOLUÇÃO Nº 23.671, DE 14 DE DEZEMBRO DE 2021](https://www.tse.jus.br/legislacao/compilada/res/2021/resolucao-no-23-671-de-14-de-dezembro-de-2021)

In [6]:
UF_list = ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MS', 'MT', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 
           'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO']

In [7]:
user_agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/600.1.17\
 (KHTML, like Gecko) Version/8.0 Safari/600.1.17'

In [8]:
consulta_cand = 'https://cdn.tse.jus.br/estatistica/sead/odsele/consulta_cand/'

In [9]:
for i in UF_list:
    os.system(f'wget --header="User-Agent: {user_agent}" {consulta_cand}rede_social_candidato_2022_{i}.zip')
    os.system(f'unzip -p rede_social_candidato_2022_{i}.zip rede_social_candidato_2022_{i}.csv > SocNet_{i}.csv')
    os.system(f'del rede_social_candidato_2022_{i}.zip')

In [10]:
all_files = [i for i in os.listdir() if i[0:6] == 'SocNet']

In [11]:
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0, sep=';', encoding='ISO-8859-1', decimal=',', low_memory=False)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [12]:
for i in all_files:
    os.system(f'del {i}')

In [13]:
frame.shape ; frame.to_csv('candidato_redes_total.csv', index=False)

In [14]:
frame['domain'] = frame['DS_URL'].apply(lambda x: urlparse(x).netloc)

In [15]:
frame['domain'] = frame['domain'].str.lower()

In [16]:
frame['domain'] = frame.domain.str.replace('www.', '')

C:\Users\rgarcia\AppData\Local\Temp\ipykernel_22832\4068980154.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  frame['domain'] = frame.domain.str.replace('www.', '')

In [17]:
df = frame[['SQ_CANDIDATO', 'NR_ORDEM', 'DS_URL', 'domain']].sort_values(by=['SQ_CANDIDATO', 'NR_ORDEM'])

In [18]:
df.DS_URL = df.DS_URL.str.lower()

In [62]:
def md(x):
     display(Markdown(x))

In [63]:
md(f'> ### Quantidade de sites/perfis de rede registrados: \n > # <u>{frame.shape[0]}</u> \n')

> ### Quantidade de sites/perfis de rede registrados:
 > # <u>42088</u>

In [64]:
# Filtros para identificação das redes

In [65]:
facebook_id = ['facebook', 'faceoo', 'fecebo', 'feicib', 'fb.me', 'fb.com', 'acebook', 
               'faacebook', 'facebbook', 'fb.audio', 'fb.gg', 'fb.me', 'fb.watch', 'facebbok',
               'faceboo', 'facebok']

In [66]:
twitter_id = ['twitter', 'twiter', 'tweet', 'twiit']

In [67]:
instagram_id = ['instagram', 'instrag', 'istagra', 'istragra', 'instragam', 'instragram',
                'intagram', 'intragra', 'instagran', 'tagran', 'tragran', 'instragran',
                'instagam', 'instgram', 'istragam', 'www.instagram', 'www.instagram.com', 'insta',
                'insagram']

In [68]:
youtube_id = ['youtube', 'yotube', 'yutub', 'outube', 'youtobe', 'youtu.be']

In [69]:
tiktok_id = ['tiktok', 'tictoc', 'tictok', 'tiktoc', 'iktok', 'iktock', 'ictock', 'tktok',
             'tiktk', 'tiktik', 'tiktak', 'Douyin']

In [70]:
gettr_id = ['gettr']; snapchat_id = ['snapchat'] ; blogger_id = ['blogger']
kwai_id = ['kwai', 'kw.ai', 'kuaishou'] ; telegram_id = ['telegram', 't.me'] ; linkedin_id = ['linkedin']
pinterest_id = ['pinterest'] ; flickr_id = ['flickr'] ; whatsapp_id = ['whatsapp', 'wa.me']

In [71]:
id_labels = [facebook_id, twitter_id, instagram_id, youtube_id, tiktok_id,
             gettr_id, snapchat_id, blogger_id, kwai_id, telegram_id, linkedin_id,
             pinterest_id, flickr_id, whatsapp_id, ['spotify'], ['wechat', 'weixin'],
             ['reddit'], ['quora'], ['github'], ['tencent', 'qq.com'], ['twitch'],
             ['discord'], ['parler'], ['soundcloud'], ['sina weibo', 'weibo'],
             ['facebook messenger', 'messenger.com'], ['skype'], ['4chan'],
             ['gab.com'], ['linktree', 'linktr.ee'], ['myspace'], ['tumblr'],
             ['wordpress'], ['wixsite'], ['wikipedia'], ['tinder'], ['last,fm'], ['deezer'],
            ['triller'], ['periscope'], ['vimeo'], ['baidu'], ['badoo']]

In [72]:
# Função para classificar as redes

def id_network(x):
    
    net_id = ''

    for j in id_labels:
        if any(i in x for i in j):
            net_id = j[0].title() 
        else:
            pass

    if net_id == '':
        net_id = 'Outros'

    return net_id

In [73]:
df['rede_social'] = df.DS_URL.apply(id_network)

In [32]:
valida_redes = df[['SQ_CANDIDATO',
                          'domain', 'rede_social']].drop_duplicates().groupby(['domain', 'rede_social'
                          ]).SQ_CANDIDATO.count().reset_index().sort_values(by='SQ_CANDIDATO', ascending=False)

In [33]:
valida_redes.head(20)

                  domain rede_social  SQ_CANDIDATO
1885       instagram.com   Instagram         12753
1480        facebook.com    Facebook         10833
3744         twitter.com     Twitter          3124
3961         youtube.com     Youtube          2226
3685          tiktok.com      Tiktok          1987
2292        linkedin.com    Linkedin           495
2412      m.facebook.com    Facebook           322
3893    web.facebook.com    Facebook           286
3126  pt-br.facebook.com    Facebook           282
3577                t.me    Telegram           176
2702  mobile.twitter.com     Twitter           173
3851       vm.tiktok.com      Tiktok           154
2299           linktr.ee    Linktree           126
3391             s.kw.ai        Kwai           120
1907       instagran.com   Instagram            91
1883           instagram   Instagram            67
3864               wa.me    Whatsapp            59
1485     facebook.com.br    Facebook            58
1605          flickr.com      Flickr            57
1703           gettr.com       Gettr            52

In [34]:
valida_redes_rank = valida_redes.groupby(['rede_social']).SQ_CANDIDATO.sum().reset_index().sort_values(by='SQ_CANDIDATO', ascending=False).reset_index(drop=True)

In [35]:
print(valida_redes_rank)

           rede_social  SQ_CANDIDATO
0            Instagram         13083
1             Facebook         11951
2               Outros          3937
3              Twitter          3373
4              Youtube          2291
5               Tiktok          2177
6             Linkedin           542
7             Telegram           206
8                 Kwai           157
9             Linktree           127
10            Whatsapp           122
11              Flickr            57
12               Gettr            54
13             Wixsite            23
14             Spotify            22
15           Pinterest            10
16            Snapchat             8
17           Wordpress             7
18              Parler             6
19          Soundcloud             4
20              Twitch             4
21           Wikipedia             4
22             Blogger             2
23              Tinder             2
24              Tumblr             2
25  Facebook Messenger             2
26              Reddit             1
27              Github             1
28             Gab.Com             1
29              Deezer             1
30               Badoo             1

In [37]:
# Os candidatos com Tinder

df[(df.SQ_CANDIDATO == 120001650955) | (df.SQ_CANDIDATO == 130001615155)]

,SQ_CANDIDATO,NR_ORDEM,DS_URL,domain,rede_social
11763,120001650955,1,https://twitter.com/andrelacerdams,twitter.com,Twitter
11766,120001650955,2,https://www.tiktok.com/@andrelacerdams?_t=8uhp...,tiktok.com,Tiktok
11764,120001650955,3,https://tinder.com/@andrelacerdams,tinder.com,Tinder
11765,120001650955,4,https://www.linkedin.com/mwlite/in/andrelacerdams,linkedin.com,Linkedin
11767,120001650955,5,https://www.facebook.com/andrelacerdams,facebook.com,Facebook
11762,120001650955,6,https://www.instagram.com/andrelacerdams,instagram.com,Instagram
10184,130001615155,1,https://www.instagram.com/mercio.m.antunes/,instagram.com,Instagram
10185,130001615155,2,https://twitter.com/merciomotamg,twitter.com,Twitter
10186,130001615155,3,https://www.facebook.com/profile.php?id=100084...,facebook.com,Facebook
10183,130001615155,4,https://www.youtube.com/channel/uc2fkkbb-logun...,youtube.com,Youtube
10182,130001615155,5,https://go.tinder.com/ilc4oml_lk4-m%c3%a9rcio,go.tinder.com,Tinder

In [38]:
df_dd = df[['SQ_CANDIDATO', 'rede_social']].reset_index(drop=True)

In [43]:
md(f'> ### Total de candidatos com pelo menos uma rede/site: \n > # {str(len(df.SQ_CANDIDATO.unique()))}')

> ### Total de candidatos com pelo menos uma rede/site:
 > # 15215

In [44]:
ranking_redes = df_dd.groupby('rede_social').SQ_CANDIDATO.count().reset_index().sort_values(by='SQ_CANDIDATO', ascending=False).reset_index(drop=True)

In [45]:
ranking_outros = ranking_redes[ranking_redes.rede_social == 'Outros'].reset_index(drop=True)

In [46]:
ranking_com_id = ranking_redes[ranking_redes.rede_social != 'Outros'].reset_index(drop=True)

In [47]:
ranking_redes = pd.concat([ranking_com_id, ranking_outros]).reset_index(drop=True)

In [48]:
del ranking_com_id ; del ranking_outros

In [51]:
ranking_redes

           rede_social  SQ_CANDIDATO
0             Facebook         14512
1            Instagram         14073
2              Twitter          3458
3              Youtube          2378
4               Tiktok          2232
5             Linkedin           549
6             Telegram           216
7                 Kwai           160
8             Whatsapp           137
9             Linktree           130
10              Flickr            58
11               Gettr            54
12             Wixsite            25
13             Spotify            22
14           Pinterest            11
15            Snapchat             9
16           Wordpress             7
17              Parler             6
18          Soundcloud             4
19              Twitch             4
20           Wikipedia             4
21             Blogger             2
22              Tinder             2
23              Tumblr             2
24  Facebook Messenger             2
25              Reddit             1
26              Github             1
27             Gab.Com             1
28              Deezer             1
29               Badoo             1
30              Outros          4026

In [52]:
twiteiros = df[df.rede_social == 'Twitter']

In [53]:
twiteiros['handle'] = twiteiros.DS_URL.apply(lambda x: x.split('.com/')[-1].split("?")[0].replace(':','').replace('@','').split("/")[0])

C:\Users\rgarcia\AppData\Local\Temp\ipykernel_22832\4169020061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twiteiros['handle'] = twiteiros.DS_URL.apply(lambda x: x.split('.com/')[-1].split("?")[0].replace(':','').replace('@','').split("/")[0])

In [55]:
twiteiros

,SQ_CANDIDATO,NR_ORDEM,DS_URL,domain,rede_social,handle
415,10001601430,3,https://twitter.com/eduribeiroac,twitter.com,Twitter,eduribeiroac
402,10001606307,3,https://twitter.com/odavidhall36,twitter.com,Twitter,odavidhall36
292,10001606585,2,https://twitter.com/dimassandas,twitter.com,Twitter,dimassandas
380,10001613550,3,https://twitter.com/leodebritoac,twitter.com,Twitter,leodebritoac
21,10001622769,3,https://twitter.com/dramichellemelo,twitter.com,Twitter,dramichellemelo
...,...,...,...,...,...,...
41929,270001697127,2,https://twitter.com/irajasenador?t=u3e5yrd3lkd...,twitter.com,Twitter,irajasenador
41768,270001700073,2,https://twitter.com/tiaodaelka?s=11&t=o6zi-ovk...,twitter.com,Twitter,tiaodaelka
41996,270001700076,3,https://twitter.com/deputadoelenil?s=11&t=mhp_...,twitter.com,Twitter,deputadoelenil
41543,270001713170,3,https://twitter.com/katiaabreu,twitter.com,Twitter,katiaabreu
42067,270001732242,2,https://twitter.com/luterlima?t=k70_d24enisaj4...,twitter.com,Twitter,luterlima

In [56]:
facebookeiros = df[df.rede_social == 'Facebook'].reset_index(drop=True)

In [57]:
facebookeiros

,SQ_CANDIDATO,NR_ORDEM,DS_URL,domain,rede_social
0,10001601425,2,https://www.facebook.com/driellemendes.pereira,facebook.com,Facebook
1,10001601427,2,https://www.facebook.com/pablobregense,facebook.com,Facebook
2,10001601430,2,https://www.facebook.com/eduribeiroac/,facebook.com,Facebook
3,10001601444,2,https://www.facebook.com/cleo.meneses.9,facebook.com,Facebook
4,10001601615,3,https://www.facebook.com/vandamilani.ac,facebook.com,Facebook
...,...,...,...,...,...
14507,270001700710,1,https://www.facebook.com/sileiamonteiro.monteiro,facebook.com,Facebook
14508,270001700731,1,https://www.facebook.com/simone.alves.54772,facebook.com,Facebook
14509,270001700732,2,https://www.facebook.com/josyanne.fenelon.7,facebook.com,Facebook
14510,270001713170,2,https://www.facebook.com/senadorakatiaoficial,facebook.com,Facebook
14511,270001725829,1,https://www.facebook.com/profile.php?id=100010...,facebook.com,Facebook

In [58]:
df[df.rede_social == 'Whatsapp']

,SQ_CANDIDATO,NR_ORDEM,DS_URL,domain,rede_social
215,10001639519,8,https://chat.whatsapp.com/ibvuca8u5qeepgdkpvkwa4,chat.whatsapp.com,Whatsapp
52,10001649256,8,https://api.whatsapp.com/send?phone=11999023378,api.whatsapp.com,Whatsapp
899,40001609310,8,https://wa.me/message/ocweirm5hwkye1,wa.me,Whatsapp
1296,40001609314,5,https://wa.me/qr/bfa6wf5j2hw4l,wa.me,Whatsapp
1126,40001609326,1,https://web.whatsapp.com/,web.whatsapp.com,Whatsapp
...,...,...,...,...,...
35208,250001619358,2,https://whatsapp.com/dl/.,whatsapp.com,Whatsapp
35928,250001619382,6,https://api.whatsapp.com/send/?phone=551191410...,api.whatsapp.com,Whatsapp
36308,250001620641,6,https://wa.me/message/lcoz3opcshweo1,wa.me,Whatsapp
37494,250001639592,6,https://api.whatsapp.com/send/?phone=551999861...,api.whatsapp.com,Whatsapp
41893,270001643553,7,https://api.whatsapp.com/send?1=ptbr&phone=556...,api.whatsapp.com,Whatsapp

In [59]:
print(df[df.rede_social == 'Tinder'].reset_index(drop=True))

# 0  120001650955         3             https://tinder.com/@andrelacerdams   
# 1  130001615155         5  https://go.tinder.com/ilc4oml_lk4-m%c3%a9rcio

   SQ_CANDIDATO  NR_ORDEM                                         DS_URL  \
0  120001650955         3             https://tinder.com/@andrelacerdams
1  130001615155         5  https://go.tinder.com/ilc4oml_lk4-m%c3%a9rcio

          domain rede_social
0     tinder.com      Tinder
1  go.tinder.com      Tinder