In [1]:
import pandas as pd

In [2]:
dataset_2018 = r'C:\Users\rgarcia\Documents\data\consulta_cand_2018_BRASIL.csv'
dataset_2022 = r'C:\Users\rgarcia\Documents\data\consulta_cand_2022_BRASIL.csv'

In [3]:
cand_2018 = pd.read_csv(dataset_2018, sep=';', encoding='ISO-8859-1', decimal=',', low_memory=False)
cand_2022 = pd.read_csv(dataset_2022, sep=';', encoding='ISO-8859-1', decimal=',', low_memory=False)

## Histórico

In [4]:
cand_2022.shape[0]

28758

In [5]:
historico = pd.DataFrame({'Eleição':[1994, 1998, 2002, 2006, 2010, 2014, 2018, 2022],
             'Candidatos':[6623, 15040, 18049, 19263, 22537, 26161, 29085, cand_2022.shape[0]]})

historico['Variação (%)'] = (historico['Candidatos'].pct_change()*100).round(1)

#### Eleição 2022 deve apresentar primeira<br>queda no número total de candidatos

In [6]:
historico

   Eleição  Candidatos  Variação (%)
0     1994        6623           NaN
1     1998       15040         127.1
2     2002       18049          20.0
3     2006       19263           6.7
4     2010       22537          17.0
5     2014       26161          16.1
6     2018       29085          11.2
7     2022       28758          -1.1

## Cenário por cargo disputado

In [7]:
cand_cargo_2018 = cand_2018.groupby(['DS_CARGO']).SQ_CANDIDATO.count().reset_index()

In [8]:
cand_cargo_2022 = cand_2022.groupby(['DS_CARGO']).SQ_CANDIDATO.count().reset_index()

In [9]:
cand_cargo_2022['ANO_ELEICAO'] = 2022

In [10]:
cand_cargo_2018['ANO_ELEICAO'] = 2018

In [11]:
df = pd.concat([cand_cargo_2018, cand_cargo_2022]).reset_index(drop=True)

In [12]:
df = df.pivot(columns='ANO_ELEICAO', index='DS_CARGO', values='SQ_CANDIDATO').reset_index()

In [13]:
df['Variação'] = ((df[2022]/df[2018]-1)*100).round(1)

In [14]:
df = df.reset_index(drop=True)

In [15]:
df.index.names = ['']

In [16]:
df.columns.name = ''

In [17]:
df.columns = ['Cargo disputado', '2018', '2022', 'Variação (%)']

In [18]:
df['Cargo disputado'] = df['Cargo disputado'].str.title()

In [19]:
df['Direção'] = df['Variação (%)'].apply(lambda x: 'Aumento' if x > 0 else 'Queda')

#### Queda ocorreu em postulantes a todos<br>os cargos, menos deputado federal

In [20]:
df

      Cargo disputado   2018   2022  Variação (%)  Direção

0         1º Suplente    398    243         -38.9    Queda
1         2º Suplente    405    247         -39.0    Queda
2  Deputado Distrital    981    594         -39.4    Queda
3   Deputado Estadual  17941  16508          -8.0    Queda
4    Deputado Federal   8588  10453          21.7  Aumento
5          Governador    230    223          -3.0    Queda
6          Presidente     16     12         -25.0    Queda
7             Senador    369    237         -35.8    Queda
8     Vice-Governador    236    229          -3.0    Queda
9     Vice-Presidente     16     12         -25.0    Queda

## Deputado estadual por UF

In [23]:
dep_est_2018 = cand_2018[cand_2018.DS_CARGO == 'DEPUTADO ESTADUAL'].groupby(['SG_UF', 'ANO_ELEICAO']).SQ_CANDIDATO.count().reset_index()

dep_est_2022 = cand_2022[cand_2022.DS_CARGO == 'DEPUTADO ESTADUAL'].groupby(['SG_UF', 'ANO_ELEICAO']).SQ_CANDIDATO.count().reset_index()

dep_est_uf = pd.concat([dep_est_2018, dep_est_2022]).pivot(index='SG_UF', columns='ANO_ELEICAO', values= 'SQ_CANDIDATO').reset_index()

dep_est_uf.columns.names = ['']

dep_est_uf['Variação (%)'] = ((dep_est_uf[2022]/dep_est_uf[2018]-1)*100).round(1)

dep_est_uf.columns.names = ['Deputado estadual']

dep_est_uf = dep_est_uf.sort_values(by='Variação (%)', ascending=False).reset_index(drop=True)

#### Número de deputados estauduais<br>no RJ é o que mais puxa a queda

In [24]:
dep_est_uf

Deputado estadual SG_UF  2018  2022  Variação (%)
0                    BA   643   900          40.0
1                    TO   234   310          32.5
2                    SC   469   609          29.9
3                    PR   767   894          16.6
4                    MS   355   396          11.5
5                    PB   429   464           8.2
6                    MA   535   549           2.6
7                    MG  1382  1398           1.2
8                    RS   853   824          -3.4
9                    RN   330   315          -4.5
10                   SE   335   319          -4.8
11                   PI   219   208          -5.0
12                   SP  2174  2040          -6.2
13                   CE   597   559          -6.4
14                   PA   692   638          -7.8
15                   MT   350   317          -9.4
16                   RO   466   417         -10.5
17                   PE   681   598         -12.2
18                   GO   907   791         -12.8
19                   ES   614   523         -14.8
20                   RR   485   402         -17.1
21                   AL   336   274         -18.5
22                   AC   471   354         -24.8
23                   AP   495   358         -27.7
24                   RJ  2465  1621         -34.2
25                   AM   657   430         -34.6

## Deputado federal por UF

In [26]:
dep_fed_2018 = cand_2018[cand_2018.DS_CARGO == 'DEPUTADO FEDERAL'].groupby(['SG_UF', 'ANO_ELEICAO']).SQ_CANDIDATO.count().reset_index()

dep_fed_2022 = cand_2022[cand_2022.DS_CARGO == 'DEPUTADO FEDERAL'].groupby(['SG_UF', 'ANO_ELEICAO']).SQ_CANDIDATO.count().reset_index()

dep_fed_uf = pd.concat([dep_fed_2018, dep_fed_2022]).pivot(index='SG_UF', columns='ANO_ELEICAO', values= 'SQ_CANDIDATO').reset_index()

dep_fed_uf['Variação (%)'] = ((dep_fed_uf[2022]/dep_fed_uf[2018]-1)*100).round(1)

dep_fed_uf.columns.names = ['Deputado Federal']

dep_fed_uf = dep_fed_uf.sort_values(by='Variação (%)', ascending=False).reset_index(drop=True)

#### Entre deputados federais, houve pequena queda em SP<br>e RJ, mas Norte e Nordeste tiveram grande aumento

In [27]:
dep_fed_uf

Deputado Federal SG_UF  2018  2022  Variação (%)
0                   PA   141   313         122.0
1                   AL    83   178         114.5
2                   TO    88   159          80.7
3                   MA   213   360          69.0
4                   GO   229   385          68.1
5                   AC    84   138          64.3
6                   CE   265   409          54.3
7                   RN   121   184          52.1
8                   BA   503   763          51.7
9                   PB   159   239          50.3
10                  PR   450   630          40.0
11                  RO   119   163          37.0
12                  SE   124   165          33.1
13                  PE   361   464          28.5
14                  RS   422   542          28.4
15                  AP   120   148          23.3
16                  MS   130   160          23.1
17                  SC   251   307          22.3
18                  PI   143   173          21.0
19                  MG   927  1092          17.8
20                  ES   170   195          14.7
21                  MT   147   160           8.8
22                  AM   153   166           8.5
23                  DF   191   206           7.9
24                  RR   154   164           6.5
25                  RJ  1154  1068          -7.5
26                  SP  1686  1522          -9.7

In [31]:
count = 1

for i in [historico, df, dep_est_uf, dep_fed_uf]:

    i.to_csv(f'tabela_{count}.csv', index=False)
    count += 1